<div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
            
            <form class='form-inline'>
                <fieldset class='form-group col-sm-11'></fieldset>
                
                <fieldset class='form-group col-sm-1'>
                    <a class= 'btn btn-primary' routerLink="/tareas/new">+</a>
                </fieldset>
            </form>
            <br>
            <table class='table table-striped'>
                <thead>                
                    <tr>
                        <th class='col-sm-6'>Título</th>
                        <th class='col-sm-6'>Fecha</th>
                        <th class='col-sm-6'>Estado</th>
                    </tr>
                </thead>
                <tbody *ngIf="tareas">
                    <tr *ngFor='let tarea of tareas'>
                        <td class='col-sm-6'>
                            <i>{{tarea.titulo}}</i>
                        </td>
                        
                        <td class='col-sm-6'>
                            <i>{{tarea.fecha}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{tarea.estado}}</i>
                        </td>
                        
                        <td class=”col-sm-1”>
                            <a class='btn btn-info' routerLink="/tareas/{{tarea.id}}/edit">Edit</a>
                        </td>

                        <td class=”col-sm-1”>
                            <a class='btn btn-info' (click)="borrar(tarea.id)">-</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>